{% load static %}
<html>
<head>
	<title>SignUp and Login</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div id="id_alert_div">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			<p>Did you forget your login information?</p>
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
			<hr>
		{% endif %}

		{% for message in messages %}
			<strong>{{ message }}</strong>
		{% endfor %}		
	</div>

	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="POST" id="id_register_form" onsubmit="return validateForm()" name="register_form" action="">
				{% csrf_token %}
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fa fa-google"></i></a>
					<a href="#" class="social"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social"><i class="fa fa-twitter"></i></a>
				</div>
				<span>or use your email for registration</span>
				{{ form.username }}
				{{ form.email }}
				{{ form.password1 }}
				{{ form.password2 }}
				<button type='submit' name='submit' action="submit" value='sign_up'>SignUp</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form method="POST" action="#">
				{% csrf_token %}
				<h1>Login</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fa fa-google"></i></a>
					<a href="#" class="social"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social"><i class="fa fa-twitter"></i></a>
				</div>
				<span>or use your account</span>
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<a href="#">Forgot Your Password?</a>

				<button type='submit' name='submit' action="submit" value='sign_in'>Login</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Login</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});
		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
		
		function validateForm() {
			var p1 = document.forms["register_form"]["password1"].value;
			var p2 = document.forms["register_form"]["password2"].value;
			if (p1 != p2) {
				alert("The two password fields didn't match");
				return false;
			}
		}
	
	</script>


</body>
</html>


