{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                {% comment %} <hr> {% endcomment %}
                <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-success" type="submit" name="Submit" value="Confirm">
            </form>
        </div>
    </div>
</div>


{% endblock %}